# GOGOMA — Environment Variables
# Copy this to .env.local and fill in your values

# --- Comando (Police Command) ---
EXPO_PUBLIC_COMMAND_ID=PRM_XXXX
EXPO_PUBLIC_CRYPTO_KEY=<chave_de_encriptacao_aes>

# --- Firebase ---
EXPO_PUBLIC_FIREBASE_API_KEY_WEB=
EXPO_PUBLIC_FIREBASE_API_KEY_IOS=
EXPO_PUBLIC_FIREBASE_API_KEY_ANDROID=
EXPO_PUBLIC_FIREBASE_APP_ID_WEB=
EXPO_PUBLIC_FIREBASE_APP_ID_IOS=
EXPO_PUBLIC_FIREBASE_APP_ID_ANDROID=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=
EXPO_PUBLIC_FIREBASE_DATABASE_URL=
EXPO_PUBLIC_FIREBASE_PROJECT_ID=
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
